@model AltaPerspectiva.Web.Areas.Admin.Models.CategoryViewModel
<style>
    .left-border {
        margin-top: 77px;
        height: 522px;
    }

    .customrow {
        min-height: 100vh;
    }

    .create-button {
        margin-left: 8.666667%;
    }

    textarea {
        width: 237px;
        height: 89px;
    }

    .form-group .dropdown {
        width: 78%;
        margin-left: 10%;
    }
</style>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<div class="row customrow">
    <div class="col-md-2">.</div>
    <div class="col-md-8">

        <h2>@ViewData["Category"]</h2>
        @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post, new { area = "Admin", enctype = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
        {
            <hr />

                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "col-sm-offset-1 col-md-2" })
                    <div class="col-sm-offset-1 col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { placeholder = "Input name", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "col-sm-offset-1 col-md-2" })
                    <div class="col-sm-offset-1 col-md-10">
                        @Html.TextAreaFor(model => model.Description, new { placeholder = "Input description", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>

                <div class="form-group">
                    <div class="dropdown">
                        <button class="btn btn-block dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                            <span class="pull-left" id="icon-select">Select Icon</span>
                            <span  id="icon-view" style="margin-left: 20px; float: left; margin-top: 3px;"></span>
                            <span class="caret pull-right" style="margin-top:8px;"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            @foreach (var item in ViewBag.CategoryIconList)
                            {
                                <li role="presentation"><a role="menuitem" href="#" onclick="selectIcon('@item.Icon')">@item.Icon <span class="@item.Icon pull-right"></span></a></li>
                            }
                        </ul>
                    </div>
                    @Html.HiddenFor(model => model.Icon)
                </div>
                <div class="form-group">
                    <label class="col-sm-offset-1 col-md-2">
                        Image
                    </label>

                    <div class="col-sm-offset-1 col-md-10">
                        @Html.TextBox("Image", Model.ImagePath, new { type = "file", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Image)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 create-button">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
        }

        @* =============== *@
        @{
            <br />

            if (ViewBag.Message != null)
            {
                <h1 class="alert alert-danger">@ViewBag.Message</h1>
                ViewData.Clear();
            }

        }



    </div>


</div>

<script>
    var selectIcon = function (icon) {
        console.log(icon);
        $("#Icon").val(icon);
        $("#icon-select").text(icon);
        $("#icon-view").attr('class', icon);
        console.log($("#Icon").val());
    }
</script>
