@model List<Questions.Domain.Category>

<style>
    .customrow {
        margin-top: 58px;
        margin-left: -434px;
    }

    .customtable {
        margin-left: 244px;
    }
</style>

<div class="row customrow">
    <div class="col-md-4">
        .
    </div>
    <div class="col-md-4">
        <div class="panel-body">

            <table class="table customtable" id="myTable">
                <thead>
                <tr>
                    <th style="width:1%">
                        CategoryName
                    </th>
                    <th style="width:10%">

                    </th>
                    <th style="width:10%">

                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(modelItem => item.Id)
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <button id="brnDelete" type="button" class="btn btn-danger" onclick="editCategory(this,'@item.Id','@item.Name')">
                                Edit
                            </button>
                        </td>
                        <td>
                            @*<button id="brnDelete" type="button" class="btn btn-danger btnDelete" onclick="deleteCategory(this,'@item.Id')">
                                        <span class="glyphicon glyphicon-trash"></span> Delete
                                    </button>*@
                            <button id="brnDelete" type="button" class="btn btn-danger" onclick="addKeywords(this,'@item.Id','@item.Name')">
                                KeyWord
                            </button>

                        </td>
                        <td>
                            <button id="btnTopic" type="button" class="btn btn-danger" onclick="editTopics(this,'@item.Id','@item.Name')">
                                Topic
                            </button>

                        </td>
                    </tr>
                }
                </tbody>

            </table>

        </div>
    </div>
</div>
<!-- EditCategory Modal -->
<div class="modal fade" id="approveProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update <label id="editCategory"></label> Category </h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="Id" />
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input id="pName" type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <input id="pDescription" type="text" class="form-control" placeholder="No Description !!">
                </div>
                <div class="form-group">
                    <label class="control-label">CategoryImage</label>
                    <br />
                    <div class="row">
                        <div class="col-lg-2">
                            <img id="image" src="" style="width:75px;height:75px;" class="img-rounded">
                        </div>
                        <div>
                            <input type="file" name="CategoryImage" id="CategoryImage" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btnConfirm" type="button" class="btn btn-success" onclick="confirmCategory()">Confirm</button>


            </div>
        </div>
    </div>
</div>

<!-- Keyword Modal -->
<div class="modal fade" id="keyword">
    <div class="modal-dialog custom-class">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-header-text">Add <label id="keywordCategory"></label> Keywords</h3>
            </div>
            <div class="modal-body">
                <input type="hidden" id="CategoryId" />
                <div class="row">
                    <div class="col-lg-12">

                        <div class="col-md-3">
                            <input type="button" id="btnAddKeyword" value="Add Keyword" class="btn btn-danger" onclick="saveKeyword($('#CategoryId').val())">
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="newKeyword" name="newKeyword" placeholder="Add Keywords" class="form-control" />
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table id="tblKeyword" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                Keywords
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--Topics Modal-->
<div class="modal fade" id="topicModal">
    <div class="modal-dialog custom-class">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-header-text"><label id="topicCategory"></label> Topic</h3>
            </div>
            <div class="modal-body">
                <input type="hidden" id="topicCategoryId" />
                <div class="row">
                    <div class="col-lg-12">

                        <div class="col-md-3">
                            <input type="button" id="btnSaveTopic" value="SaveTopic" class="btn btn-default" onclick="saveTopic($('#topicCategoryId').val())">
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="newTopic" name="newTopic" placeholder="Add Topics" class="form-control" />
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table id="tblTopics" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                Topics
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    function editCategory(element, Id, categotyName) {
        var url = '@Url.Action("CategoryFilePath", "Categories", new { Area = "Questions" })';
        var obj = {};
        obj.Id = Id;
        console.log(obj);
        console.log(url);
        $.ajax({
            url: url,
            type: 'GET',
            data: obj,
            async: false,
            success: function (respText) {
                console.log(respText);
                $('#Id').val(obj.Id);
                $("#image").attr("src", respText.image);
                $('#pName').val(respText.name);
                $('#pDescription').val(respText.description);
                $("#CategoryImage").val("");
                $('#editCategory').text(categotyName);
                $('#approveProjectModal').modal({
                    show: true,
                    backdrop: 'static'
                });
            },
            error: function (jqXhr, textStatus, errorThrown) {

            }
        });

    }
    function confirmCategory() {
        var Id = $('#Id').val();
        var data = new FormData();
        var fileUpload = $("#CategoryImage").get(0);
        var files = fileUpload.files;
        var data = new FormData();
        for (var i = 0; i < files.length ; i++) {
            data.append(files[i].name, files[i]);
        }

        data.append('Id', Id);
        data.append('Name', $('#pName').val());
        data.append('Description', $('#pDescription').val());
        //var obj = {};
        //obj.Id = Id;
        //obj.Name = $('#pName').val();
        //obj.Nescription = $('#pDescription').val();
        var url = '@Url.Action("CategoryUpdate", "Categories", new { Area = "Questions" })';
        $.ajax({
            url: url,
            type: 'POST',
            data: data,
            contentType: false,
            processData: false,
            success: function (respText) {
                console.log(respText);
                alert('Saved Successfully');
                $('#approveProjectModal').modal('hide');
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert('error ..Check log for details');
                console.log(textStatus, errorThrown);
                var msg = '';
                if (jqXhr.status === 0) {
                    msg = 'Not connect.\n Verify Network.';
                } else if (jqXhr.status == 404) {
                    msg = 'Requested page not found. [404]';
                } else if (jqXhr.status == 500) {
                    msg = 'Internal Server Error [500].';
                } else if (errorThrown === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                } else if (errorThrown === 'timeout') {
                    msg = 'Time out error.';
                } else if (errorThrown === 'abort') {
                    msg = 'Ajax request aborted.';
                } else {
                    msg = 'Uncaught Error.\n' + jqXhr.responseText;
                }
                console.log(msg);
            }
        });
    }
    function saveTopic(categoryId) {
        console.log(categoryId);
        var newKeyword = $('#newTopic').val();
        if (newKeyword.length <= 1 || newKeyword === undefined) {
            alert('Keyword is not correct');
            return;

        } else {
            var obj = {};
            obj.categoryId = categoryId;
            obj.topicName = newKeyword;
            console.log(obj);
            var url = '@Url.Action("SaveTopic", "Categories", new { Area = "Questions" })';
            $.ajax({
                url: url,
                type: 'POST',
                data: obj,
                async: false,
                success: function (respText) {
                    console.log(respText);

                    var tr = '<tr>';
                    tr = tr + '<td>' + newKeyword + '</td>';

                    tr = tr + '</tr>';
                    $('#tblTopics > tbody:last').append(tr);
                    $('#newTopic').val('');

                },
                error: function (jqXhr, textStatus, errorThrown) {

                }
            });

        }
    }
    function editTopics(element, Id, categotyName) {
        console.log(Id + '->' + categotyName);
        var url = '@Url.Action("GetTopics", "Categories", new { Area = "Questions" })';
        var obj = {};
        obj.Id = Id;
        $("#tblTopics tbody").empty();
        $.ajax({
            url: url,
            type: 'GET',
            data: obj,
            async: false,
            success: function (respText) {
                console.log(respText);
                for (var i = 0; i < respText.length; i++) {
                    var tr = '<tr>';
                    tr = tr + '<td>' + respText[i] + '</td>';

                    tr = tr + '</tr>';
                    $('#tblTopics > tbody:last').append(tr);

                    //console.log(tr);
                }
                $('#topicCategoryId').val(Id);
                $('#topicCategory').text(categotyName);
                $('#topicModal').modal({
                    show: true,
                    backdrop: 'static'
                });
            },
            error: function (jqXhr, textStatus, errorThrown) {

            }
        });
    }
    function saveKeyword(categoryId) {
        console.log(categoryId);
        var newKeyword = $('#newKeyword').val();
        if (newKeyword.length <= 1 || newKeyword === undefined) {
            alert('Keyword is not correct');
            return;

        } else {
            var obj = {};
            obj.categoryId = categoryId;
            obj.newKeyword = newKeyword;
            console.log(obj);
            var url = '@Url.Action("SaveKeyWords", "Categories", new { Area = "Questions" })';
            $.ajax({
                url: url,
                type: 'POST',
                data: obj,
                async: false,
                success: function (respText) {
                    console.log(respText);

                    var tr = '<tr>';
                    tr = tr + '<td>' + newKeyword + '</td>';

                    tr = tr + '</tr>';
                    $('#tblKeyword > tbody:last').append(tr);
                    $('#newKeyword').val('');

                },
                error: function (jqXhr, textStatus, errorThrown) {

                }
            });

        }

    }
    function addKeywords(element, Id, categotyName) {

        var url = '@Url.Action("GetKeyWords", "Categories", new { Area = "Questions" })';
        var obj = {};
        obj.Id = Id;
        console.log(obj);
        $("#tblKeyword tbody").empty();
        $.ajax({
            url: url,
            type: 'POST',
            data: obj,
            async: false,
            success: function (respText) {
                console.log(respText);
                $('#CategoryId').val(Id);

                for (var i = 0; i < respText.length; i++) {
                    var tr = '<tr>';
                    tr = tr + '<td>' + respText[i] + '</td>';

                    tr = tr + '</tr>';
                    $('#tblKeyword > tbody:last').append(tr);

                    //console.log(tr);
                }
                $('#newKeyword').val('');
                $('#keywordCategory').text(categotyName);
                $('#keyword').modal({
                    show: true,
                    backdrop: 'static'
                });
            },
            error: function (jqXhr, textStatus, errorThrown) {

            }
        });
    }
</script>