@model List<Questions.Domain.Category>

<style>
    .customrow {
        margin-top: 58px;
        margin-left: -434px;
    }

    .customtable {
        margin-left: 244px;
    }

    .table-responsive {
        overflow-x: hidden;
        overflow-y: auto;
        height: 349px;
    }
</style>



<div class="row customrow">
    <div class="col-md-4">
        .
    </div>
    <div class="col-md-4">
        <div class="panel-body">

            <table class="table customtable" id="myTable">
                <thead>
                    <tr>
                        <th style="width:1%">
                            CategoryName
                        </th>
                        <th style="width:10%">

                        </th>
                        <th style="width:10%">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(modelItem => item.Id)
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a class="btn btn-danger" href="/Admin/addcategory/@item.Id">Edit</a>
                            </td>
                            <td>
                                @*<button id="brnDelete" type="button" class="btn btn-danger btnDelete" onclick="deleteCategory(this,'@item.Id')">
                                        <span class="glyphicon glyphicon-trash"></span> Delete
                                    </button>*@
                                <button id="brnDelete" type="button" class="btn btn-danger" onclick="addKeywords(this,'@item.Id','@item.Name')">
                                    KeyWord
                                </button>

                            </td>
                            <td>
                                <button id="btnTopic" type="button" class="btn btn-danger" onclick="editTopics(this,'@item.Id','@item.Name')">
                                    Topic
                                </button>

                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>
</div>

<!-- Keyword Modal -->
<div class="modal fade" id="keyword">
    <div class="modal-dialog custom-class">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-header-text">Add <label id="keywordCategory"></label> Keywords</h3>
            </div>
            <div class="modal-body">
                <input type="hidden" id="CategoryId" />
                <div class="row">
                    <div class="col-lg-12">

                        <div class="col-md-3">
                            <input type="button" id="btnAddKeyword" value="Add Keyword" class="btn btn-danger" onclick="saveKeyword($('#CategoryId').val())">
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="newKeyword" name="newKeyword" placeholder="Add Keywords" class="form-control" />
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table id="tblKeyword" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                Keywords
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--Topics Modal-->
<div class="modal fade" id="topicModal">
    <div class="modal-dialog custom-class">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-header-text"><label id="topicCategory"></label> Topic</h3>
            </div>
            <div class="modal-body">
                <input type="hidden" id="topicCategoryId" />
                <div class="row">
                    <div class="col-lg-12">

                        <div class="col-md-3">
                            <input type="button" id="btnSaveTopic" value="SaveTopic" class="btn btn-default" onclick="AddTopic($('#topicCategoryId').val())">
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="newTopic" name="newTopic" placeholder="Add Topics" class="form-control" />
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table id="tblTopics" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                Topics
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>

    function saveTopic(categoryId) {
        console.log(categoryId);
        var newKeyword = $('#newTopic').val();
        if (newKeyword.length <= 1 || newKeyword === undefined) {
            alert('Please Enter a Valid Topic');
            return;

        } else {
            var obj = {};
            obj.categoryId = categoryId;
            obj.topicName = newKeyword;
            console.log(obj);
            var url = '@Url.Action("SaveTopic", "Categories", new { Area = "Questions" })';
            $.ajax({
                url: url,
                type: 'POST',
                data: obj,
                async: false,
                success: function (respText) {
                    console.log(respText);

                    var tr = '<tr>';
                    tr = tr + '<td>' + newKeyword + '</td>';

                    tr = tr + '</tr>';
                    $('#tblTopics > tbody:first').prepend(tr);
                    $('#newTopic').val('');

                },
                error: function (jqXhr, textStatus, errorThrown) {

                }
            });

        }
    }
    function editTopics(element, Id, categotyName) {
        console.log(Id + '->' + categotyName);
        var url = '@Url.Action("GetTopics", "Categories", new { Area = "Questions" })';
        var obj = {};
        obj.Id = Id;
        $("#tblTopics tbody").empty();
        $.ajax({
            url: url,
            type: 'GET',
            data: obj,
            async: false,
            success: function (respText) {
                console.log(respText);
                for (var i = 0; i < respText.length; i++) {
                    var tr = '<tr>';
                    tr = tr + '<td>' + respText[i] + '</td>';

                    tr = tr + '</tr>';
                    $('#tblTopics > tbody:first').prepend(tr);

                    //console.log(tr);
                }
                $('#topicCategoryId').val(Id);
                $('#topicCategory').text(categotyName);
                $('#topicModal').modal({
                    show: true,
                    backdrop: 'static'
                });
            },
            error: function (jqXhr, textStatus, errorThrown) {

            }
        });
    }
    
    function saveKeyword(categoryId) {
        console.log(categoryId);
        var newKeyword = $('#newKeyword').val();
        if (newKeyword.length <= 1 || newKeyword === undefined ) {
            alert('Keyword is not correct');
            return;

        } else {
            var obj = {};
            obj.categoryId = categoryId;
            obj.newKeyword = newKeyword;
            console.log(obj);
            var url = '@Url.Action("SaveKeyWords", "Categories", new { Area = "Questions" })';
            $.ajax({
                url: url,
                type: 'POST',
                data: obj,
                async: false,
                success: function (respText) {
                    console.log(respText);

                    var tr = '<tr>';
                    tr = tr + '<td>' + newKeyword + '</td>';

                    tr = tr + '</tr>';
                    $('#tblKeyword > tbody:first').prepend(tr);
                    $('#newKeyword').val('');

                },
                error: function (jqXhr, textStatus, errorThrown) {

                }
            });

        }

    }
    function addKeywords(element, Id, categotyName) {

        var url = '@Url.Action("GetKeyWords", "Categories", new { Area = "Questions" })';
        var obj = {};
        obj.Id = Id;
        console.log(obj);
        $("#tblKeyword tbody").empty();
        $.ajax({
            url: url,
            type: 'POST',
            data: obj,
            async: false,
            success: function (respText) {
                console.log(respText);
                $('#CategoryId').val(Id);

                for (var i = 0; i < respText.length; i++) {
                    var tr = '<tr>';
                    tr = tr + '<td>' + respText[i] + '</td>';

                    tr = tr + '</tr>';
                    $('#tblKeyword > tbody:last').append(tr);

                    //console.log(tr);
                }
                $('#newKeyword').val('');
                $('#keywordCategory').text(categotyName);
                $('#keyword').modal({
                    show: true,
                    backdrop: 'static'
                });
            },
            error: function (jqXhr, textStatus, errorThrown) {

            }
        });
    }
</script>