@model IEnumerable<Questions.Domain.Category>
@*<style>
        .row {
            margin-top: 58px;
            margin-left: -434px;
        }

        .table {
            margin-left: 244px;
        }

        /*.table-responsive {
            overflow-x: hidden;
            overflow-y: auto;
            height: 349px;
        }*/
        .table-responsive {
            width: 605px;
        }
    </style>*@
<style>
    /*.table-responsive {
        overflow-x: hidden;
        overflow-y: auto;
        height: 349px;
    }*/
</style>
<h2> Categories</h2>

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-4">
        <div class="panel-body">

            <table class="table  table-striped table-scroll" id="myTable">
                <thead>
                    <tr>
                        <td colspan="3">

                            <a href="@Url.Action("AddCategory", "Category", new {Area = "Admin"})" class="btn">
                                AddCategory
                            </a>

                        </td>
                    </tr>
                    <tr>
                        <th style="width: 1%">
                            CategoryName
                        </th>
                        <th style="width: 10%">
                            Delete
                        </th>
                        <th style="width: 10%">
                            Edit
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(modelItem => item.Id)
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <button id="btnDelete" type="button" class="btn btn-danger" onclick="DeleteCategory(this, '@item.Id')">
                                    DeleteCategory
                                </button>
                            </td>
                            <td>
                                <button id="btnEdit" type="button" class="btn btn-danger" onclick="EditCategory(this, '@item.Id')">
                                    Edit
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>


        </div>
    </div>
</div>
<script>
    function EditCategory(element, categoryId) {
        window.location = "/Admin/Category/EditCategory/" + categoryId;
    }

    function DeleteCategory(element, categoryId) {

        @*alertify.confirm("Do you really want to delete?", function () {
            //user clicked "ok"
            var url = '@Url.Action("DeleteCategory", "Category", new { Area = "Admin" })';
            var obj = {};
            obj.categoryId = categoryId;
            console.log(obj);
            $.ajax({
                url: url,
                type: 'POST',
                data: obj,
                async: false,
                success: function (respText) {
                    console.log(respText);
                    alertify.alert('Deleted successfully',
                        function () {
                            location.reload(true);
                        });

                },
                error: function (jqXhr, textStatus, errorThrown) {

                }
            });

        }, function () {
            // user clicked "cancel"
        });*@
        var confrimDelete = confirm("Do you really want to delete?");
        if (confrimDelete == true) {
            //user clicked "ok"
            var url = '@Url.Action("DeleteCategory", "Category", new { Area = "Admin" })';
            var obj = {};
            obj.categoryId = categoryId;
            console.log(obj);
            $.ajax({
                url: url,
                type: 'POST',
                data: obj,
                async: false,
                success: function (respText) {
                    console.log(respText);
                    //alertify.alert('Deleted successfully',
                    //    function () {
                    //        location.reload(true);
                    //    });
                    alert('Deleted successfully');
                    location.reload(true);

                },
                error: function (jqXhr, textStatus, errorThrown) {

                }
            });
        }

    }
</script>