@model AltaPerspectiva.Web.Areas.Admin.Models.TopicNKeywordViewModel


<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<style>
    .alignFixed {
        margin-left: 14px;
    }

    .marginFixed {
        margin-left: 16px;
    }

    .panel-body {
        width: 678px;
    }

    .btn-success {
        margin-left: 15px;
    }
</style>
<div class="row">
    <div class="col-md-8 alignFixed">

        @using (Html.BeginForm("EditTopic", "Category", FormMethod.Post, new { area = "Admin", @class = "form-horizontal", @role = "form" }))
        {
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="col-sm-offset-1 col-md-4">Category Name</div>
                <div class="col-sm-offset-1 col-md-8">
                    @Html.DropDownListFor(
                        x => x.CategoryId,
                        new SelectList(Model.Categories, "Id", "Name"),
                        "-- Please select a category --", new { @class = "form-control" ,@id="ddlCategory" }
                        )
                    @Html.ValidationMessageFor(x => x.CategoryId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1 ">
                    <input type="submit" value="ShowTopic" class="btn btn-default marginFixed" />
                </div>
            </div>
        }
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-8">
        <button class="btn btn-success" onclick="addTopic()">Add Topic</button>
       
    </div>
</div>
<div class="row">

    <div class="col-md-8">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th style="width:51%">
                                TopicName
                            </th>
                            <th style="width:10%">
                                Update
                            </th>
                            <th style="width:10%">
                                Delete
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Topics)
                        {
                            <tr>
                                <td>
                                    @Html.TextBoxFor(modelItem => item.TopicName, new { @class = "form-control" })
                                </td>
                                <td>
                                    <button id="btnDelete" type="button" class="btn btn-success" onclick="Update(this,'@item.Id',$(this).closest('tr').find('input').val())">
                                        Update
                                    </button>

                                </td>
                                <td>
                                    <button id="btnDelete" type="button" class="btn btn-success" onclick="Delete(this,'@item.Id')">
                                        Delete
                                    </button>
                                </td>

                            </tr>
                        }
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>
<script>
    function addTopic() {
        var categoryDropdown = $('#ddlCategory').val();

        console.log(categoryDropdown);
        if (categoryDropdown == '') {
            alert('Please Select a category');
            return;
        }

        window.location="/Admin/Category/AddTopic/"+categoryDropdown;
    }


    function Update(element, id, topicName) {
        // console.log(element);
        console.log('Id->' + id + ' topicName=' + topicName)

        if (topicName.length <= 1 || topicName === undefined) {
            // alertify.alert('Please Enter a Valid Topic Name');
            alert('Please Enter a Valid Topic Name');
            return;

        } else {
            var url = '@Url.Action("UpdateTopic", "Category", new { Area = "Admin" })';
            var obj = {};
            obj.id = id;
            obj.topicName = topicName;
            console.log(obj);
            $.ajax({
                url: url,
                type: 'POST',
                data: obj,
                async: false,
                success: function (respText) {
                    console.log(respText);
                    if (respText.result == true) {
                        //alertify.alert('Updated successfully',
                        //    function () {
                        //           location.reload(true);
                        //    });
                        alert('Topic Name Updated successfully');
                        location.reload(true);
                    } else {
                        //alertify.error('Topic already exists');
                        alert('Topic already exists');

                    }


                },
                error: function (jqXhr, textStatus, errorThrown) {
                    //alertify.error('Category Name is not valid');
                    alert('topic is not valid');
                }
            });
        }
    }
    function Delete(element, id) {
        @*console.log('Id->' + id)
        alertify.confirm("Do you really want to delete?", function () {
            //user clicked "ok"
            var url = '@Url.Action("DeleteTopic", "Category", new { Area = "Admin" })';
            var obj = {};
            obj.id = id;
            console.log(obj);
            $.ajax({
                url: url,
                type: 'POST',
                data: obj,
                async: false,
                success: function (respText) {
                    console.log(respText);
                    if (respText.result == true) {
                        alertify.alert('Deleted successfully',
                            function () {
                                location.reload(true);
                            });
                    } else {
                        alertify.error('Topic does not exists exists');
                    }


                },
                error: function (jqXhr, textStatus, errorThrown) {

                }
            });

        }, function () {
            // user clicked "cancel"
        });*@
        var confrimDelete = confirm("Do you really want to delete?");
        if (confrimDelete == true) {
            //user clicked "ok"
            var url = '@Url.Action("DeleteTopic", "Category", new { Area = "Admin" })';
            var obj = {};
            obj.id = id;
            console.log(obj);
            $.ajax({
                url: url,
                type: 'POST',
                data: obj,
                async: false,
                success: function (respText) {
                    console.log(respText);
                    if (respText.result == true) {
                        //alertify.alert('Deleted successfully',
                        //    function () {
                        //        location.reload(true);
                        //    });
                        alert('Deleted successfully');
                        location.reload(true);

                    } else {
                        //alertify.error('Topic does not exists exists');
                        alert('Topic does not exists exists');
                    }


                },
                error: function (jqXhr, textStatus, errorThrown) {

                }
            });
        }
    }
</script>