<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/dist/css/bootstrap-touch-carousel.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/css/bootstrap-touch-carousel.css"
              asp-fallback-href="~/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css"
              asp-fallback-test-class="carousel-caption" asp-fallback-test-property="display" asp-fallback-test-value="none" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/hammer.js/hammer.js"></script>
        <script src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js"
                asp-fallback-src="~/lib/hammer.js/hammer.js"
                asp-fallback-test="window.Hammer">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js"
                asp-fallback-src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"
                asp-fallback-test="window.Hammer && window.Hammer.Instance">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <link href="~/lib/alertify/src/alertify.min.css" rel="stylesheet" />
    <link href="~/lib/alertify/src/default.min.css" rel="stylesheet" />
    <script src="~/lib/alertify/src/alertify.min.js"></script>
    <link href="~/css/fonts/alta-fonts.css" rel="stylesheet" />
    <style>
        /*html * {
                    font-family: myriadpro-regular !important;
                }
        */
        .container {
            font-family: myriadpro-regular !important;
        }

        .navbar-nav > li > a {
            color: #fff !important;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .navbar-nav {
            margin-left: -45px;
            color: #fff !important;
            font-family: typogroteskrounded;
        }

        .fixHeader {
            margin-left: 25px !important;
            font-size: 16px;
        }

        .body-minHeight {
            min-height: 79vh;
            margin-top: 70px;
        }

        .borrder-circle {
            border: 2px solid white;
            display: inline-block;
            text-align: center;
            height: 38px;
            width: 38px;
            padding: 4px;
            border-radius: 18px;
        }

        .parent-padding {
            padding-top: 135px;
        }

        .footer {
            height: 63px;
            width: 100%;
            background-color: darkgray;
            color: white;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
        }

        .footer-left {
            float: left;
            margin-top: 11px;
        }

        .footer-right {
            float: right;
            font-family: myriadpro-regular;
            font-size: 14px;
            text-align: right;
        }

        .footer-container {
            width: 85%;
            margin: 0 auto;
        }

        .logo {
            float: left;
            width: 61px;
            height: auto;
            /*background: url('../logo cuadrado.png');*/
        }
        /*=============Log in  CSS*/
        h2 {
            text-align: center;
            margin-bottom: 25px;
        }

        input {
            max-width: 100%;
        }

        .form-horizontal {
            position: relative;
            padding: 10px;
            background-color: #ededed;
            margin-top: 77px;
        }

        .left-border {
            /*background-image: url('../border.png');*/
            width: 4px;
            margin-top: 70px;
            position: absolute;
            left: 11px;
            margin-right: -15px;
            height: 305px;
        }

        .btn {
            min-width: 100px;
            background-color: #f7a30c;
            color: white;
        }

        .navbar-brand {
            margin-top: -1px;
        }

        .navbar {
            background-color: black;
            height: 60px;
        }

        .headerText {
            color: aliceblue;
            // font-size: 14px;
            margin-top: 2px;
            cursor: pointer;
        }

        .align-of-header {
            margin-top: 6px;
        }


        .navbar-header {
            margin-left: -79px !important;
        }

        .user-menu {
            margin-top: -10px;
        }

        .nav-home {
            border-right: 1px solid white;
            font-family: myriadpro-regular !important;
            color: #fff !important;
            margin-top: 2px;
        }

        .user-image {
            margin-top: -8px;
        }
        /*For H*/
    </style>
</head>
<body class="body-minHeight">
    <div class="navbar navbar-inverse navbar-fixed-top backgroundset" style="">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index"><img class="logo" src="~/images/LOGO CUADRADO.png" /></a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-home">
                        <a asp-controller="Home" asp-action="Index" class="navbar-brand fixHeader ">Alta Perspectiva</a>
                    </li>

                    <li><a href="/question/home/1">Questions</a></li>
                    @*<li class="align-of-header"><a asp-controller="Home" asp-action="Index">My Bookmark</a></li>*@
                </ul>
                <ul></ul>
                @if (User.Identity.IsAuthenticated)
            {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="dropdown-menu-right" role="menu">
                                <div aria-expanded="false" class="dropdown-toggle fixed-height headerText" data-toggle="dropdown" href="#">
                                    <img id="my_image" class="user-image" src="../../../../profile/LOGO CUADRADO.png" src="../../../../profile/LOGO CUADRADO.png"><span id="headerUserName"></span>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a id="userUrl" href=""><span class="fa fa-user"></span> Profile</a></li>
                                    @*<li><a href="@Url.Action("AddCategory", "Category", new {Area = "Admin"})"> <span class="fa fa-sign-out"></span> Manage Categories </a></li>*@
                                    <li><a href="/signout"><span class="fa fa-sign-out"></span> Sign Out</a></li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                    <script>
                        var url = '@Url.Action("GetUserName", "UserProfile", new { Area = "UserProfile" })';
                        $.ajax({
                            url: url,
                            type: 'GET',
                            data: null,
                            async: false,
                            success: function (respText) {
                                // console.log(respText);
                                $('#headerUserName').text(respText.name);
                                $('#my_image').attr('src', respText.imageUrl);
                                $('#userUrl').attr('href', '/dashboard/viewprofile/' + respText.userId + '/user-question');

                            },
                            error: function (jqXhr, textStatus, errorThrown) {

                            }
                        });
                        @*url = '@Url.Action("GetUserId", "UserProfile", new { Area = "UserProfile" })';
                        $.ajax({
                            url: url,
                            type: 'GET',
                            data: null,
                            async: false,
                            success: function (respText) {
                                console.log(respText);
                                $('#userUrl').href = "/dashboard/viewprofile/1/user-question"

                            },
                            error: function (jqXhr, textStatus, errorThrown) {

                            }
                        });*@

                    </script>

                }
                else
                {
                    @Html.Partial("_LoginPartial")
                }
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
    <div class="row">
        <div class="col-md-3">
            <div id="wrapper">
                <!-- Sidebar -->
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav nav-pills nav-stacked" data-autohide="false" id="menu">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left fa-tags"><i class="fa fa-anchor fa-stack-1x "></i></span>Virtual Store
                            </a>
                            <ul class="nav-pills nav-stacked" style="list-style-type: none;">
                                <li>
                                    <a href="@Url.Action("Index", "VirtualStore", new {Area = "Admin"})">
                                        <span class="fa-stack fa-lg pull-left fa-tags"><i class="fa fa-anchor fa-stack-1x "></i></span>AddVirtualStore
                                    </a>
                                </li>
                                @*<li>
                                        <a href="#">
                                            <span class="fa-stack fa-lg pull-left fa-tags"><i class="fa fa-anchor fa-stack-1x "></i></span>EditVirtualStore
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Delete", "VirtualStore", new {Area = "Admin"})">
                                            <span class="fa-stack fa-lg pull-left fa-tags"><i class="fa fa-anchor fa-stack-1x "></i></span>DeleteVirtualStore
                                        </a>
                                    </li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left fa-tags"><i class="fa fa-flag fa-stack-1x "></i></span>Category
                            </a>
                            <ul class="nav-pills nav-stacked" style="list-style-type: none;">
                                <li>
                                    <a href="@Url.Action("AddCategory", "Category", new {Area = "Admin"})">
                                        <span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>AddCategory
                                    </a>
                                </li>
                                <li><a href="@Url.Action("AddKeyword", "Category", new {Area = "Admin"})"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>EditCategory</a></li>
                                <li>
                                    <a href="@Url.Action("DeleteCategory", "Category", new {Area = "Admin"})">
                                        <span class="fa-stack fa-lg pull-left">
                                            <i class="fa fa-flag fa-stack-1x "></i>
                                        </span>DeleteCategory
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" style="display: block"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Reports</a>
                            <ul class="nav-pills nav-stacked" style="list-style-type: none;">
                                <li>
                                    <a href="@Url.Action("Question", "QuestionReport", new {Area = "Admin"})">
                                        <span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Question Report
                                    </a>
                                </li>
                                <li><a href="@Url.Action("Answer", "QuestionReport", new {Area = "Admin"})"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Answer Report</a></li>

                            </ul>
                        </li>

                    </ul>
                </div><!-- /#sidebar-wrapper -->
            </div>

        </div>
        <div class="col-md-8">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <div class="footer-container">
            <div class="footer-right">
                <div>nostros</div>
                <div>Terminos de usos</div>
                <div>Contactenos</div>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        $("#menu-toggle-2").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled-2");
            $('#menu ul').hide();
        });

        function initMenu() {
            $('#menu ul').hide();
            $('#menu ul').children('.current').parent().show();
            //$('#menu ul:first').show();
            $('#menu li a').click(
              function () {
                  var checkElement = $(this).next();
                  if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
                      return false;
                  }
                  if ((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
                      $('#menu ul:visible').slideUp('normal');
                      checkElement.slideDown('normal');
                      return false;
                  }
              }
              );
        }
        //$(document).ready(function () { initMenu(); });

        $('li.active').removeClass('active');
        //$('a[href="' + location.pathname + '"]').closest('li').addClass('active');

        $('a[href="' + location.pathname + '"]').parent().addClass('active');

        $('a[href="' + location.pathname + '"]').parent().parent().parent().trigger("click");
        //$(".nav a").on("click", function () {
        //    $(".nav").find(".active").removeClass("active");
        //    $(this).parent().addClass("active");
        //});
    </script>
</body>
</html>
