<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Altaperspectiva.OpenId</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/dist/css/bootstrap-touch-carousel.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/css/bootstrap-touch-carousel.css"
              asp-fallback-href="~/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css"
              asp-fallback-test-class="carousel-caption" asp-fallback-test-property="display" asp-fallback-test-value="none" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/hammer.js/hammer.js"></script>
        <script src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js"
                asp-fallback-src="~/lib/hammer.js/hammer.js"
                asp-fallback-test="window.Hammer">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js"
                asp-fallback-src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"
                asp-fallback-test="window.Hammer && window.Hammer.Instance">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <style>
        .fixHeader {
            margin-left: 25px !important;
        }

        .body-minHeight {
            min-height: 79vh;
        }

        .borrder-circle {
            border: 2px solid white;
            display: inline-block;
            text-align: center;
            height: 38px;
            width: 38px;
            padding: 4px;
            border-radius: 18px;
        }

        .parent-padding {
            padding-top: 135px;
        }

        .footer {
            height: 63px;
            width: 100%;
            background-color: darkgray;
            color: white;
            position: relative;
            bottom: 0;
        }

        .footer-left {
            float: left;
            margin-top: 11px;
        }

        .footer-right {
            float: right;
            font-family: myriadpro-regular;
            font-size: 14px;
            text-align: right;
        }

        .footer-container {
            width: 85%;
            margin: 0 auto;
        }

        .logo {
            float: left;
            width: 61px;
            height: auto;
            /*background: url('../logo cuadrado.png');*/
        }
        /*=============Log in  CSS*/
        h2 {
            text-align: center;
            margin-bottom: 25px;
        }

        input {
            max-width: 100%;
        }

        .form-horizontal {
            position: relative;
            padding: 10px;
            background-color: #ededed;
            margin-top: 77px;
            height: 305px;
        }

        .left-border {
            /*background-image: url('../border.png');*/
            width: 4px;
            margin-top: 70px;
            position: absolute;
            left: 11px;
            margin-right: -15px;
            height: 305px;
        }

        .btn {
            min-width: 100px;
            background-color: #f7a30c;
            color: white;
        }

        .navbar-brand {
            margin-top: 17px;
        }

        .navbar {
            background-color: black;
            height: 60px;
        }

         .headerText {
                 color: aliceblue;
                  font-size: 14px;
                      margin-top: 2px;
                      cursor: pointer;
         }
         .align-of-header {
                 margin-top: 6px;
         }
    </style>
</head>

<body class="body-minHeight">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index"><img class="logo" src="~/images/LOGO CUADRADO.png" /></a>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand fixHeader">Altaperspectiva</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                        @*<li class="align-of-header"><a asp-controller="Home" asp-action="Index">My Bookmark</a></li>*@
                       
                    </ul>
                <ul></ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="dropdown-menu-right" role="menu">
                                
                                <div aria-expanded="false" class="dropdown-toggle fixed-height headerText" data-toggle="dropdown" href="#">
                                    <img class="user-image"  src="../../../../profile/LOGO CUADRADO.png" src="../../../../profile/LOGO CUADRADO.png"><span id="headerUserName"></span>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="/dashboard"><span class="fa fa-user"></span> Profile</a></li>
                                    <li><a href="/questions/getcategory"> <span class="fa fa-sign-out"></span> Manage Categories </a></li>
                                    <li><a href="/signout"><span class="fa fa-sign-out"></span> Sign Out</a></li>
                                    

                                </ul>
                            </div>
                        </li>
                    </ul>
                    <script>
                        var url = '@Url.Action("GetUserName", "UserProfile", new { Area = "UserProfile" })';
                        $.ajax({
                            url: url,
                            type: 'GET',
                            data: null,
                            async: false,
                            success: function (respText) {
                                console.log(respText);
                               $('#headerUserName').text(respText);

                            },
                            error: function (jqXhr, textStatus, errorThrown) {

                            }
                        });

                    </script>

                }
                else
                {
                    @Html.Partial("_LoginPartial")
                }

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

    </div>
    <div class="footer">
        <div class="footer-container">
            <div class="footer-right">
                <div>nostros</div>
                <div>Terminos de usos</div>
                <div>Contactenos</div>
            </div>
        </div>
    </div>



    @RenderSection("scripts", required: false)
</body>
</html>
