
@using AltaPerspectiva.Web.Areas.Admin.helpers
@model AltaPerspectiva.Web.Areas.Admin.Models.AddVirtualStoreViewModel

@{
    ViewBag.Title = "VitualStoreView";
}

@*<style>
    .btn {
        margin-left: 167px;
    }
</style>*@
<br/>
<br/>
<h2>Delete vitual store</h2>
@using (Html.BeginForm("Delete", "VirtualStore", FormMethod.Post, new { Area = "Admin"}))
{
    @Html.HiddenFor(x=>x.Id)

    <div>
        
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductFileName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductFileName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ScreenShotImage)
            </dt>

            <dd>
                <img src="@Url.Content(new AzureFileUploadHelper().GetVirtualStoreDocument( Model.ScreenShotFileName))" alt="Image" class="img-rounded" width="233" height="147" />
            </dd>

        </dl>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <button id="btnDelete" class="btn btn-success">Delete</button>
            </div>
        </div>
        
    </div>
}